.grommet .footer {

  &__logo {
    width: $inuit-base-spacing-unit * 5.5;

    @include media-query(palm) {
      margin-bottom: 24px;
    }
  }

  .grommetux-header {
    padding: 24px;
    font-size: $menu-font-size;
    font-weight: 600;

    @include media-query(lap-and-up) {
      height: auto;
      min-height: 0;
      padding: 0;
    }
  }

  .grommetux-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    > .grommetux-list-item {
      width: 100%;
      line-height: 34px;

      @include media-query(lap-and-up) {
        width: 200px;
        margin-bottom: 24px;
        padding-right: 24px;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  ul {
    margin: 0;
    list-style: none;

    a:not(.grommetux-anchor) {
      text-decoration: none;
    }
  }

  .grommetux-collapsible ul {
    @include media-query(palm) {
      padding: 12px 24px;
      background: #fff;
    }
  }

  .footer__social {
    @include media-query(palm) {
      padding: 24px;
    }
  }

  .footer__legal {
    @include media-query(palm) {
      padding: 0 24px 24px;
    }

    li {
      display: inline-block;
      margin-right: 5px;
      font-size: 14px;

      &:after {
        content: '|';
        margin-left: 5px;
      }

      &:last-child {
        margin-right: 0;

        &:after {
          content: '';
        }
      }
    }
  }

}

