.grommet .footer {

  &.footer--dark {
    .grommetux-collapsible ul {
      @include media-query(palm) {
        background: #404040;
      }
    }
  }

  &__logo {
    width: $inuit-base-spacing-unit * 5.5;

    @include media-query(palm) {
      margin-bottom: $inuit-base-spacing-unit;
    }
  }

  .grommetux-header {
    padding: $inuit-base-spacing-unit;
    font-size: $menu-font-size;
    font-weight: 600;

    @include media-query(lap-and-up) {
      height: auto;
      min-height: 0;
      padding: 0;
    }
  }

  .grommetux-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    > .grommetux-list-item {
      width: 100%;
      line-height: $inuit-base-spacing-unit * 1.25;

      @include media-query(lap-and-up) {
        width: $inuit-base-spacing-unit * 8.75;
        margin-bottom: $inuit-base-spacing-unit;
        padding-right: $inuit-base-spacing-unit;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  ul {
    margin: 0;
    list-style: none;

    a:not(.grommetux-anchor) {
      text-decoration: none;
    }
  }

  .grommetux-collapsible ul {
    @include media-query(palm) {
      padding: ($inuit-base-spacing-unit / 2) $inuit-base-spacing-unit;
      background: #fff;
    }
  }

  .footer__social {
    @include media-query(palm) {
      padding: $inuit-base-spacing-unit;
    }
  }

  .footer__legal {
    @include media-query(palm) {
      padding: 0 $inuit-base-spacing-unit $inuit-base-spacing-unit;
    }

    li {
      display: inline-block;
      margin-right: $inuit-base-spacing-unit * 0.25;
      font-size: $paragraph-small-font-size;

      &:after {
        content: '|';
        margin-left: $inuit-base-spacing-unit * 0.25;
      }

      &:last-child {
        margin-right: 0;

        &:after {
          content: '';
        }
      }
    }
  }

}

