.grommet .accordion-panel {

  // &__content {
  //   height: auto;
  //   max-height: 0;
  //   transition: max-height 0.5s;
  //   overflow: hidden;
  // }

  // &--active .accordion-panel__content {
  //   max-height: 50em;
  // }

  .heading,
  .paragraph {
    max-width: $size-medium;
  }

  div:focus {
    outline: none;
  }
}

.grommet .accordion-panel {
  overflow: hidden;

  &.animate {
    transition: height 0.5s ease-out;
  }
}


