.resources-tile {
  background-color: $background-color;

  &__thumbnail {
    width: $graphic-small-size;
    height: $graphic-small-size;
  }

  .heading--uppercase {
    letter-spacing: normal;
  }
}
